<h1 id="Item List">The Item List</h1>

<div id="Items">
<ul>
  {{#each Item}}
    <li id="ready">
	    item Number. {{id}}. {{itemName}} -- description. {{description}} -- price. {{price}} --- {{createdAt}}
	    <button class="offer" data-id="{{id}}" id="offer">MAKE AN OFFER!</button>
    </li>
  {{/each}}
</ul>

</div>



</div>
