<body class = "bg-dark">
    <div class="card text-center">
    <div class="card-header">
        Your Profile
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <img src={{profile.imgSource}} alt={{profile.firstName}}>
            </div>
            <div class="col-sm-6">
                <h5 class="card-title">Username: {{profile.userName}}</h5>
                <p class="card-text">Full Name: {{profile.firstName}} {{profile.lastName}} </p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Your Current Items
    </div>
</div>

<br>
<br> {{#each item}} {{#unless isSold}}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card box-shadow">
                <img class="card-img-top" src={{imgSource}}>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" data-toggle="modal" data-target=".DATA-{{id}}" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-9">

            <div class="card box-shadow">
                <div class="card-body">
                    <p class="card-text font-weight-bold">Item Name: {{itemName}}</p>
                    <p class="card-text font-weight-light">Description: {{description}}</p>
                    <p class="card-text font-weight-light">Price: ${{price}}</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                Launch demo modal
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">{{itemName}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class = "container">
                                            {{#each offer}}

                                            <div class = "row">
                                            <img src = 
                                            {{imgSource}}>
                                            </div>
                                            {{/each}}
                                            </div>
                                       </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/unless}} {{/each}}


<div class="card-footer text-muted text-center">
    Your Sold/Cancelled Items
</div>
<br>
<br> {{#each item}} {{#if isSold}}
<div class="container">
    <div class="col-sm-3">
        <div class="card box-shadow">
            <img class="card-img-top" src={{imgSource}}>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="card box-shadow">
            <div class="card-body">
                {{!-- {{#each offer}} --}}
                <p class="card-text font-weight-bold">Item Name: {{itemName}}</p>
                <p class="card-text font-weight-light">Description: {{description}}</p>
                <p class="card-text font-weight-light">Price: ${{price}}</p>
                {{!-- {{/each}} --}}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" data-toggle="modal" data-target=".DATA-{{id}}" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    {{!--
                    <small class="text-muted">{{Category.Category}}</small> --}}
                </div>
            </div>
        </div>
    </div>

</div>
{{/if}} {{/each}}
</body>