<div class="card text-center">
    <div class="card-header">
        Your Profile
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <img src={{profile.imgSource}} alt={{profile.firstName}}>
            </div>
            <div class="col-sm-6">
                <h5 class="card-title">Username: {{profile.userName}}</h5>
                <p class="card-text">Full Name: {{profile.firstName}} {{profile.lastName}} </p>
                <p class="card-text">Member Since : {{profile.createdAt}} </p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Your Current Items
    </div>
</div>

<br>
<br> {{#each Item}} {{#unless isSold}}
<div class="container">
    <div class="row" id="w1m">
        <div class="col-sm-3" >
            <div class="card box-shadow">
                <img class="card-img-top" src={{imgSource}}>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" data-toggle="modal" data-target=".DATA-{{id}}" class="btn btn-sm btn-outline-secondary">Edit</button>
                         <button type="button" data-button={{id}}-box class="btn btn-sm btn-outline-secondary HIDE">HIDE</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-9">

            <div class="card box-shadow">
                <div class="card-body">
                    <p class="card-text font-weight-bold">Item Name: {{itemName}}</p>
                    <p class="card-text font-weight-light">Description: {{description}}</p>
                    <p class="card-text font-weight-light">Price: ${{price}}</p>
                    
                    <div class="d-flex justify-content-between align-items-center">
                    
                    {{#if this.Offers}}
                     <ul class="list-group">
                    {{#each this.Offers}}
                    {{#unless this.offerStatus}}

                     <li class="list-group-item" id="offer" >
                     <p>user: {{this.User.userName}} </p>
                     <p>offers: {{this.userOffer}} </p>
                     <img  height="250" src={{this.imgSource}} alt={{this.userOffer}} >
                      <button type="button" data-button={{this.id}} class="btn btn-sm btn-outline-secondary ACCEPT">ACCEPT</button>
                      <button type="button" data-button={{this.id}} class="btn btn-sm btn-outline-secondary DECLINE">DECLINE</button>
                   
                    


                     </li>
                    {{/unless}}
                    {{/each}}
                    </ul>
                    
                    {{/if}} 

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/unless}} {{/each}}


<div class="card-footer text-muted text-center">
    Your Sold/Cancelled Items
</div>
<br>
<br> {{#each Item}} {{#if isSold}}
<div class="container">
    <div class="col-sm-3">
        <div class="card box-shadow">
            <img class="card-img-top" src={{imgSource}}>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="card box-shadow">
            <div class="card-body">
                {{!-- {{#each offer}} --}}
                <p class="card-text font-weight-bold">Item Name: {{itemName}}</p>
                <p class="card-text font-weight-light">Description: {{description}}</p>
                <p class="card-text font-weight-light">Price: ${{price}}</p>
                {{!-- {{/each}} --}}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" data-toggle="modal" data-target=".DATA-{{id}}" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    {{!--
                    <small class="text-muted">{{Category.Category}}</small> --}}
                </div>
            </div>
        </div>
    </div>

</div>
{{/if}} {{/each}}
































