 <h1>{{title}}</h1> 
 
    <div>
    <p>name:  {{profile.firstName}} {{profile.lastName}} </p>
    <p>email:  {{profile.email}}</p>
    <p>member since:  {{profile.createdAt}}</p>

    <img src={{profile.imgSource}} alt={{profile.firstName}} height="200" >
    </div>



  